.topcases-wrapper {
    background-color: #f0f5f8;

    padding-bottom: 70px;
}

.topcases-section {
    padding-top: 90px;
    text-align: center;
}

.topcases-header {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: lighter;
    line-height: 34px;
    color: #23272a;
}


/**Row One**/
.topcases-row-one {
    display: flex;
    width: 970px;
    max-width: 100%;
    margin: auto;
}

.cases-partone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases-parttwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.casecard {
    width: 212px;
    max-width: 100%;
    transition: 0.5s all;

}

.casecard:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}

.cases-paragraph {
    background: white;
    font-size: 15px;
    height: 98px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cases1 {
    margin-right: 15px;
}

.cases2,
.cases3 {
    margin-right: 15px;
    margin-left: 15px;
}

.cases4 {
    margin-left: 15px;
}

.figure-wrap {
    padding-top: 0;
    border-radius: 5px;
}

.img-cases {
    padding: 10px 6px;
}

.imgcases-1 {
    background-color: #f6e9d8;
}

.imgcases-2 {
    background-color: #f8e4f3;
}

.imgcases-3 {
    background-color: #e6f3ec;
}

.imgcases-4 {
    background-color: #e9e7fc;
}

.cases-partthree {
    display: flex;
    justify-content: center;
}

.cases-partfour {
    display: flex;
    justify-content: center;
}

/**Row One end**/

/**Row Two**/
.second-row {
    margin-top: 30px;
}

.imgcases-5 {
    background-color: #ececec;
}

.imgcases-6 {
    background-color: #e9ebf5;
}

.imgcases-7 {
    background-color: #e9e7fb;
}

.imgcases-8 {
    background-color: #dfeef7;
}

.topcases-button {
    color: #4e9af2;
    border: 1px solid #4e9af2;
    text-align: center;
    width: 193px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 50px;
    transition: 0.5s;
    opacity: 0.9;
}

.topcases-button:hover {
    background: #4e9af2;
    color: #fff;
}

/**Row Two end**/